body
{
    margin: 0%;
    padding: 0%;
    background-color:aqua;
}

#container
{
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0%;
}

.flex-container 
{
    flex: 1 1 0;
    display: flex;
    gap: 10px;
    margin: 30px;
    align-items:stretch;
    flex-wrap: wrap;
}

.flex-container div
{
    flex:1 1 0;
    align-content: center;
    justify-content:space-evenly;
    flex-basis: 200px;
    text-align: center;
}

button
{
    background-color: black;
    border: 0;
    color: aliceblue;
    padding: 5px;
    width: 100px;
    height: 40px;
}

.grid-item
{
    justify-content:space-evenly;
    height: 30px;
    width:30px;
    border: 1px solid;
    text-align: center;
    font-size: 10px;
    align-content: center;
    background-color: white;
}

.footer
{
    height: 40px;
    font-size: 18px;
    background-color: cadetblue;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    margin: 0%;
    padding: 0%;
    color: black;
}

.header
{
    text-align: center;
    color: black; 
    background-color: cadetblue; 
    margin: 0%;padding: 0%; 
    height: 60px;
    align-content: center;
}

h1
{
    margin: 0%;
}